<head>
    <meta charset="utf-8" />
    <title>Chart.js Example</title>
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
  </head>
  
  
<body>
    <div style="width: 640px; height: 300px;">
        <canvas id="myChart" width="300" height="200"></canvas>
    </div>

</body>

<script>
const labels = [{% for item in labels %} '{{item}}', {% endfor %}];
const data = {
  labels: labels,
  datasets: [{
    label: 'Accuracy Comarison',
    data: [{% for item in values %} {{item}}, {% endfor %}],
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)'
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)'
    ],
    borderWidth: 1
  }]
};


//  // get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");
  
  //  // create the chart using the chart canvas
   var myChart = new Chart(ctx, {
     type: 'bar',
     data: data,
     options: {
      legend: {
          display: false
        },
        scales: {
          xAxes: [
            {
            ticks: {
                  autoSkip: false,
                  maxRotation: 0,
                  minRotation: 0
              }
            }
          ]
        }
      },
   });

</script>