{% extends 'layout.html' %}
    {% block body %}
    <style>
      .slidecontainer {
        width: 100%;
      }
      
      .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      .slider:hover {
        opacity: 1;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
      }
      </style>
      <div class="jumbotron text-center">
        <h1>Welcome to My Classifier</h1>
        <p class="lead"><strong>This application is build on the Flask to classify type of questions</strong></p>
        <div class="container">

          <br>

          <form action="{{url_for('predict')}}" method="post">
              <div class="form-group">
                <b><label for="Enter Your Coffee prefrences" style="color:green">Enter the Model you want to predict from</label></b>
                <br>
                <div class="btn-group">
                  <input
                    type="radio"
                    class="btn-check"
                    name="models"
                    id="model1"
                    value="svm"
                    autocomplete="off"
                    checked
                  />
                  <label class="btn btn-secondary" for="model1">SVM</label>
                 
                  <input type="radio" class="btn-check" style="color:green" name="models" id="model2" value="logistic_regression" autocomplete="off" />
                  <label class="btn btn-secondary" for="model2">Logistic Regression</label>
                 
                  <input type="radio" class="btn-check" name="models" id="model3" value="knn" autocomplete="off" />
                  <label class="btn btn-secondary" for="model3">KNN</label>
                 
                  <input type="radio" class="btn-check" name="models" id="model4" value="decision_tree" autocomplete="off" />
                  <label class="btn btn-secondary" for="model4">Decision Tree</label>
                 
                  <input type="radio" class="btn-check" name="models" id="model5" value="random_forest" autocomplete="off" />
                  <label class="btn btn-secondary" for="model5">Random Forest</label>
                 </div>
                <br>
                <br>
                <b><label for="Enter Your Coffee prefrences" style="color:green">Okay-0 [0-6] 
                </label></b>
                <br>
                <b><label for="Enter Your Coffee prefrences" style="color:green">Good-1 [6-7] 
                </label></b>
                <br>
                <b><label for="Enter Your Coffee prefrences" style="color:green">Very Good-2 [7-8] 
                </label></b>
                <br>
                <b><label for="Enter Your Coffee prefrences" style="color:green">Excellent-3 [8-9] 
                </label></b>
                <br>
                <b><label for="Enter Your Coffee prefrences" style="color:green">Outstanding-4 [9-10] 
                </label></b>
                <br>
                <b><label for="Enter Your Coffee prefrences" style="color:green">Enter Your Coffee Prefrences 
                 </label></b>
                <!-- <input type="text" placeholder="Question" name="question"  class="form-control" id="email"> -->
                <br>
                <div>
                  <label for="Enter Your Coffee prefrences" style="color:green">Enter the Amount of Aroma you like</label>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="0" max="4" name="aroma"  class="slider" id="myRange">
                  <!-- <input type="text" placeholder="Question" name="aroma"  class="form-control" id="email"> -->
                  <p>Value: <span id="demo"></span></p>
                </div>
                <div>
                  <label for="Enter Your Coffee prefrences" style="color:green">Enter the Amount of Flavor you like</label>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="0" max="4" name="flavour" class="slider" id="myRange1">
                  <p>Value: <span id="demo1"></span></p>
                </div>
                <div>
                  <label for="Enter Your Coffee prefrences" style="color:green">Enter the Amount of Aftertaste you like</label>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="0" max="4" name="aftertaste" class="slider" id="myRange2">
                  <p>Value: <span id="demo2"></span></p>
                </div>
                <div>
                  <label for="Enter Your Coffee prefrences" style="color:green">Enter the Amount of Acidity you like</label>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="0" max="4" name="Acidity" class="slider" id="myRange3">
                  <p>Value: <span id="demo3"></span></p>
                </div>
                <div>
                  <label for="Enter Your Coffee prefrences" style="color:green">Enter the Amount of Body you like</label>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="0" max="4" name="Body" class="slider" id="myRange4">
                  <p>Value: <span id="demo4"></span></p>
                </div>
                <div>
                  <label for="Enter Your Coffee prefrences" style="color:green">Enter the Amount of Balance you like</label>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="0" max="4" name="Balance" class="slider" id="myRange5">
                  <p>Value: <span id="demo5"></span></p>
                </div>
                <div>
                  <label for="Enter Your Coffee prefrences" style="color:green">Enter the Amount of Uniformity you like</label>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="0" max="4" name="Uniformity" class="slider" id="myRange6">
                  <p>Value: <span id="demo6"></span></p>
                </div>
                <div>
                  <label for="Enter Your Coffee prefrences" style="color:green">Enter the Amount of Clean.Cup you like</label>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="0" max="4" name="Clean_Cup" class="slider" id="myRange7">
                  <p>Value: <span id="demo7"></span></p>
                </div>
                <div>
                  <label for="Enter Your Coffee prefrences" style="color:green">Enter the Amount of Sweetness you like</label>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="0" max="4" name="Sweetness" class="slider" id="myRange8">
                  <p>Value: <span id="demo8"></span></p>
                </div>
                <div>
                  <label for="Enter Your Coffee prefrences" style="color:green">Enter the Amount of Cupper.Points you like</label>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="0" max="4" name="Cupper_Points" class="slider" id="myRange9">
                  <p>Value: <span id="demo9"></span></p>
                </div>
                <div>
                  <label for="Enter Your Coffee prefrences" style="color:green">Enter the Amount of Green bean grade you like</label>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="0" max="3" name="Green_bean_grade" class="slider" id="myRange10">
                  <p>Value: <span id="demo10"></span></p>
                </div>
                </div>

            <!-- <input type="text" placeholder="Question" name="question" value="{{
              request.form.question }}"> -->
              <button type="submit" class="btn btn-success btn-block">Submit</button>
            <!-- <input class="btn btn-default" type="submit" value="Check"> -->
          </form>
          <script>
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            var slider1 = document.getElementById("myRange1");
            var output1 = document.getElementById("demo1");
            output.innerHTML = slider1.value;

            var slider2 = document.getElementById("myRange2");
            var output2 = document.getElementById("demo2");
            output.innerHTML = slider2.value;

            var slider3 = document.getElementById("myRange3");
            var output3 = document.getElementById("demo3");
            output.innerHTML = slider3.value;

            var slider4 = document.getElementById("myRange4");
            var output4 = document.getElementById("demo4");
            output.innerHTML = slider4.value;

            var slider5 = document.getElementById("myRange5");
            var output5 = document.getElementById("demo5");
            output.innerHTML = slider5.value;

            var slider6 = document.getElementById("myRange6");
            var output6 = document.getElementById("demo6");
            output.innerHTML = slider6.value;

            var slider7 = document.getElementById("myRange7");
            var output7 = document.getElementById("demo7");
            output.innerHTML = slider7.value;

            var slider8 = document.getElementById("myRange8");
            var output8 = document.getElementById("demo8");
            output.innerHTML = slider8.value;

            var slider9 = document.getElementById("myRange9");
            var output9 = document.getElementById("demo9");
            output.innerHTML = slider9.value;

            var slider10 = document.getElementById("myRange10");
            var output10 = document.getElementById("demo10");
            output.innerHTML = slider10.value;

            slider.oninput = function() {
              output.innerHTML = this.value;
            }

            slider1.oninput = function() {
              output1.innerHTML = this.value;
            }

            slider2.oninput = function() {
              output2.innerHTML = this.value;
            }
            slider3.oninput = function() {
              output3.innerHTML = this.value;
            }
            slider4.oninput = function() {
              output4.innerHTML = this.value;
            }
            slider5.oninput = function() {
              output5.innerHTML = this.value;
            }
            slider6.oninput = function() {
              output6.innerHTML = this.value;
            }
            slider7.oninput = function() {
              output7.innerHTML = this.value;
            }
            slider8.oninput = function() {
              output8.innerHTML = this.value;
            }
            slider9.oninput = function() {
              output9.innerHTML = this.value;
            }
            slider10.oninput = function() {
              output10.innerHTML = this.value;
            }
            </script>


    </div>

      </div>

    {% endblock %}
