{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <strong><span style="color:red">The species you might like based on your Coffee prefrences predicted by model '{{ model_name }}': </span></strong>
    {% if category %}
      <p class="category"><strong><span style="color:blue" class="label label-default"> {{ category }}</span></strong></p>
    {% endif %}
    <div>
      <strong><span style="color:green">Varieties you would like to try under the above species :<br> </span></strong>
      {% for item in variety %} '{{item}}'<br> {% endfor %}
    </div>
  </div>
  <div style="width: 640px; height: 300px;">
    <canvas id="myChart" width="300" height="200"></canvas>
</div>

<script>
    const labels = [{% for item in labels %} '{{item}}', {% endfor %}];
    const data = {
      labels: labels,
      datasets: [{
        label: 'Accuracy Comarison',
        data: [{% for item in values %} {{item}}, {% endfor %}],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)'
        ],
        borderWidth: 1
      }]
    };
    
    
    //  // get chart canvas
    var ctx = document.getElementById("myChart").getContext("2d");
      
      //  // create the chart using the chart canvas
       var myChart = new Chart(ctx, {
         type: 'bar',
         data: data,
         options: {
          legend: {
              display: false
            },
            scales: {
              xAxes: [
                {
                ticks: {
                      autoSkip: false,
                      maxRotation: 0,
                      minRotation: 0
                  }
                }
              ]
            }
          },
       });
    
    </script>
{% endblock %}